header{
    height: 70x;
    border: 1px dashed blue;
    background-color:#AE1923;
  }
  .color{
    background-color: #AE1923;
  }
  .main_body{
    width: 100%;
    height: 1000px;
    border: 1px dashed red;

  }
  .img{
    height: 100px;
    width: 100px;
  }
  footer{
    height: 100px;
    border:1px solid orange;
  }